@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.h-72 {
  width: 18rem;
}
.w-128 {
  width: 32rem;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}
